@import '../../theme/constants';
@import '../../theme/animations';

.zoom {
  position: relative;
  overflow: hidden;

  .field {
    @include animation(fadeInUp $materialBezier 2.7s);
    @include transition(all 0.33s $materialBezier);
  }

  .image {
    height: 600px;
    width: 100%;
  }

  .text {
    text-align: center;
    padding: $padding*7 $padding*5;

    p {
      font-size: 35px;
      line-height: 50px;
    }
  }

}