@import '../../theme/constants';

.zoom {
  position: relative;
  overflow: hidden;

  .image {
    height: 600px;
    width: 100%;
  }

  .text {
    text-align: center;
    padding: $padding*7 $padding*5;

    p {
      font-size: 35px;
      line-height: 50px;
    }
  }

}