@import '../../theme/constants';
@import '../../theme/animations';

$patternHeight: $padding*1.5;

.ribbon {
  position: absolute;
  z-index: 100;
  height: $navHeight*2;
  width: 100%;
  background: transparent;
  top: 0;
  color: white;
  border-top: 1px solid rgba($primaryColor, 0.2);

  &.relative {
    position: relative;
    color: $primaryColor;
  }

  & > nav {
    position: relative;
    height: 100%;
    padding: 0 $padding*12.5;
    width: 100%;

    & > div {
      display: inline-block;
      width: 50%;
      height: 100%;
      vertical-align: top;

      .image {
        background-image: url(https://storage.googleapis.com/kip-consulting/kip_logo_horizontal.svg);
        height: 100%;
        width: 125px;
      }

      a {
        display: inline-block;
        height: 100%;
        line-height: $navHeight*2;
        padding: 0 $padding*3;
        text-decoration: none;
        color: inherit;
        cursor: pointer;

        &:hover {
          color: $primaryColor;
          text-decoration: underline;
        }
      }

      &.right {
        text-align: right;
      }
    }
  }

  & > span {
    display: block;
    left: 0;
    width: 100%;
    height: $patternHeight;
    background: url(https://storage.googleapis.com/sunbear/kip_scribble_pattern.png);
    background-repeat: repeat;
    background-size: 500px;
  }
}