@import 'constants';

@keyframes carosel {
  0% {
    transform: translate3d(0px, 0, 0);
  }
  50% {
    transform: translate3d(-400px, 0, 0);
  }
  100% {
    transform: translate3d(0px, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scrollInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-200px, 0, 0)
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0, 0)
  }
}

@keyframes scrollOutRight {
  0% {
    opacity: 1;
    transform: translate3d(0px, 0, 0)
  }
  100% {
    opacity: 0;
    transform: translate3d(200px, 0, 0)
  }
}

@keyframes scrollInRight {
  0% {
    opacity: 0;
    transform: translate3d(50px, 0, 0)
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0, 0)
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
}

@keyframes fadeInUpSmall {
  0% {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

@keyframes fadeOutUpSmall {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -10px, 0);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fallOutDown {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 223, 77, 1);
  }
  70% {
    box-shadow: 0 0 0 30px rgba(255, 223, 77, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 223, 77, 0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($primaryColor, 1);
  }
  70% {
    box-shadow: 0 0 0 30px rgba($primaryColor, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($primaryColor, 0);
  }
}

@keyframes pulseScale {
  0%, 10%, 50%, 80%, 100% {
    transform: scale3d(0, 0, 0, 1);
  }
  30% {
    transform: scale3d(0, 0, 0, 1.066);
  }
  60% {
    transform: scale3d(0, 0, 0, 1.033);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeAndGrowInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0) scale3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0px, 0) scale3d(1, 1, 1);
  }
}

@keyframes fadeAndZoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.4, 0.4, 0.4);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes fadeAndZoomOut {
  0% {
    opacity: 0;
    transform: scale3d(1.4, 1.4, 1.4);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceDownSmall {
  0%, 20%, 50%, 80%, 100% {
    transform: translate3d(0, 0, 0);
  }
  40% {
    transform: translate3d(0, 10px, 0);
  }
  60% {
    transform: translate3d(0, 5px, 0);
  }
}

@keyframes scrollLeftRight {
  0%, 100% {
    transform: translate3d(0%, 0, 0);
  }
  50% {
    transform: translate3d(-60%, 0, 0);
  }
}

@mixin animation($args) {
  -webkit-animation: $args;
  -moz-animation: $args;
  -o-animation: $args;
  animation: $args;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
