$bgColor: #fff;
$navColor: #dde5ed;
$FooterColor: #dde5ed;
$borderColor: #dde5ed;

$borderRadius: 5px;
$navHeight: 60px;
$padding: 10px;

$primaryColor: #4a9ff1;

$materialBezier: cubic-bezier(0.4, 0, 0.2, 1);