@import '../../theme/constants';
@import '../../theme/animations';

.contact {
  padding: $padding*10 $padding*15;
  text-align: center;

  @media only screen and (max-width: 600px) {
    padding: $padding $padding $padding*5;
  }

  input {
    width: 49.35%;
    margin: 1.25% 0;
    border: 1px solid lighten($primaryColor, 15);
    padding: $padding;

    &:nth-of-type(even) {
      margin-left: 1.25%;
    }

    @media only screen and (max-width: 600px) {
      margin: 1.25% 0 !important;
      width: 100%;
    }
  }

  textarea {
    width: 100%;
    margin: 1.25% 0 $padding*2.5;
    height: 250px;
    border: 1px solid lighten($primaryColor, 15);
    padding: $padding;
    resize: none;
  }

  .button {
    width: auto;
    margin: inherit auto;
    padding: $padding $padding*5;
    border-radius: $borderRadius;
    color: white;
    border: $warningColor 1px solid;
    background: $warningColor;
  }

  h1 {
    font-size: 45px;
    font-weight: 500;
    @media only screen and (max-width: 600px) {
      font-size: 25px;
      line-height: $navHeight - $padding;
      padding: $padding 0;
    }
  }

  p {
    font-weight: 100;
    font-size: 25px;
    margin-bottom: $padding*2.5;
    @media only screen and (max-width: 600px) {
      font-size: 14px;
    }
  }
}